body,
html {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #00ff41;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  background-color: black;
}

#root {
  height: 100vh;
}

#quote-box {
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#text {
  width: 60%;
  margin: auto;
}

button {
  background-color: black;
  color: #00ff41;
  font-weight: bold;
  border: 2px solid rgb(255, 255, 255);
  margin-left: 10px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 6px;
}

button:hover {
  background-color: white;
  color: black;
}

button:focus {
  outline: 0;
}

span {
  color: white;
}

footer {
  height: 4%;
}

hr {
  border: 0;
  border-top: 1px solid white;
}

footer a {
  color: white;
  text-decoration: none;
}
